// git add git commit 2 x day

/* add custom styles */
.btn{
font-size:  2rem;
margin-bottom: 20px;

}
h1{
  font: bold;
  color: red;
}
.header{
  text-indent: 20px;
}
body{
 background-image: url('../424145.jpg');
}
/* all forms background color */

.input-form-group{
  margin-top: 5px;
  margin-bottom: 15px;
}

.row{
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 30px;
  margin-bottom: 30px;

  background-color: #B0B0B0;
  border-radius: 10px;
}

.center-block {
  display: block;
  margin-left: 15%;
  margin-right: auto;
}


.

/* Product table */


table{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

tbody{
  border-radius: 10px;
  

}